<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('【请填写功能名称】列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>用户姓名：</label>
                                <input type="text" name="USERNAME"/>
                            </li>
                            <li>
                                <label>用户账户：</label>
                                <input type="text" name="ACCOUNT"/>
                            </li>
                            <li>
                                <label>证件号码：</label>
                                <input type="text" name="idCard"/>
                            </li>
                            <li>
                                <label>用户状态：</label>
                                <select name="STATUS" class="form-control m-b" th:with="type=${@dict.getType('sys_user_status')}">
                                    <option value="">全部</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>手机号码：</label>
                                <input type="text" name="myPhone"/>
                            </li>
                            <li>
                                <label>电子邮箱：</label>
                                <input type="text" name="EMAIL"/>
                            </li>
                            <li>
                                <label>身份类型：</label>
                                <select name="userType" class="form-control m-b" th:with="type=${@dict.getType('sys_user_type')}">
                                    <option value="">全部</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:alumni:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:alumni:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:alumni:remove')}]];
        var datas = [[${@dict.getType('sys_user_type')}]];
        var sexs = [[${@dict.getType('sys_user_sex')}]];
        var user_status = [[${@dict.getType('sys_user_status')}]];
        var cards = [[${@dict.getType('sys_card_type')}]];
        var prefix = ctx + "system/alumni";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "【校友数据源】",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: '用户ID',
                    visible: false
                },
                {
                    field: 'username',
                    title: '用户姓名'
                },
                {
                    field: 'sex',
                    title: '性别',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(sexs, value);
                    }
                },
                {
                    field: 'birthday',
                    title: '出生日期'
                },
                {
                    field: 'usertype',
                    title: '身份类型',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(datas, value);
                    }
                },
                {
                    field: 'account',
                    title: '用户账户'
                },
                {
                    field: 'status',
                    title: '用户状态',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(user_status, value);
                    }
                },
                {
                    field: 'idCard',
                    title: '证件号码'
                },
                {
                    field: 'cardtype',
                    title: '证件类型',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(cards, value);
                    }
                },
                {
                    field: 'myPhone',
                    title: '手机号码'
                },
                {
                    field: 'email',
                    title: '电子邮箱'
                },
                {
                    field: 'updateTime',
                    title: '同步时间'
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>
